@{
    ViewBag.Title = "Home Page";
}


    <div class="container" style="padding-top:30px;">
        <br>
        <br>
        <blockquote>
            <p class="lead text-justify">We make a living by what we get, but we make a life by what we give.</p>
            <footer>Winston Churchill</footer>
        </blockquote>
    </div>


